#rps-meta .inside {
  padding-left:  10px;
}

#rps-meta .inside label {
  display: block;
  font-weight: bold;
  margin: 15px 0 5px 3px;
}

#rps-meta .inside input[type="text"],
#rps-meta .inside input[type="email"],
#rps-meta .inside input[type="number"],
#rps-meta .inside input[type="tel"] {
  width: 450px;
  margin-bottom: 10px;
  padding: 8px;
}

#rps-meta .inside input[type="number"] {
  width: 225px;
}

#rps-meta .inside textarea {
  width: 450px;
  height: 150px;
  margin-bottom: 10px;
  padding: 8px;
}
