#page,
.navbar-white .navbar-inner .container {
  min-width: 200px;
}

.navbar-white .navbar-inner .container {
  z-index: 1000;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.collapse {
  clear: both;
  transition: all 0.5s ease;
}
.collapse.visible {
  height: 185px;
}

.navbar .btn-navbar {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 13px;
  cursor: pointer;
}

.image-container {
  width: auto;
}

#news-bar {
  display: none;
}

#logo {
  position: static;
}
#logo img {
  float: none;
}

#outer-header {
  width: 97%;
  padding: 2% 1.5% 15px;
  height: auto;
  background: #fff;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.text-content{
  width: 100%;
  overflow:hidden;
  max-width: auto !important;
}

#chapter1-text {
  position: static;
  background: none;
}

li.sequence, .chapter {
  min-height: auto !important;
}

.below-header {
  display: none;
}

#chapter1-block {
  height: auto;
}
.scroll-arrow {
  display: none;
}
.floating-arrow {
  display: none;
}

#unbuild {
  margin: 0;
}

ul#unbuild img {
  position: static !important;
  margin: -3px 0 -70px 0;
  z-index: 10;
}

#unbuild li {
}

.image-with-pointers {
  position: static;
  z-index: 10;
  padding: 0 5%;
  max-width: 90%;
}
.image-with-pointers.gom {
  opacity: 0;
}
.image-with-pointers.visa {
  opacity: 1;
}

#mobile-icons-list {
  padding: 20px 0;
  margin: 0;
  list-style: none;
}
#mobile-icons-list a {
  text-decoration: none;
  color: #4e699b;
  display: block;
  padding: 15px 0 15px 55px;
  background-repeat: no-repeat;
  background-position: left center;
}

.icons {
  position: static;
  z-index: 1000;
  display: none !important;
}

#landing-page .heading-2 {
  font-size: 22px;
}

#chapter6-text {
  width: 100%;
}

.laning-page.map-block {
  position: static;
  margin: 30px 0 0 0;
  max-width: 100%;
  height: 300px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

iframe#maps-iframe {
  margin-top: 0px;
  width: 100%;
  height: 100%;
}

.home {
  padding-top: 0px;
}

#chapter-nav{
  display: none;
}
.text-content,
.right-content .text-content {
  position: static !important;
  margin: 0 auto !important;
  float: none;
}
.map-block{margin-top:55px;}

#chapter2-block {
  height: auto;
}
#chapter-2-special-img {
  display: block;
  max-width: 100%;
}

.right-content {
  height: auto;
}
.chapter {
  padding-bottom: 10px;
}
.heading-2{
  margin-top:20px;
}

.laning-page.map-block {
  margin-left: 0 !important;
  width: auto;
  max-width: 100%;
}

.map-block {
  width: auto;
  max-width: 100%;
}

.nav-container {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.parallax-footer {
  position: static;
  width: auto;
  left: 0;
  margin-left: 0;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
}


@media (max-width: 500px) {

  .navbar-white .navbar-inner .container {
    height: auto !important;
  }

  #menu-primara-lankar {
    background: #fff;
    margin: 10px 1.5%;
    clear: both;
    float: none;
    list-style: none;
    width: 92%;
    font-weight: bold;
  }
  #menu-primara-lankar li{
    float:none;
    padding: none;
    line-height: 20px;
  }
  #menu-primara-lankar a {
    float: none;
    color: #76b729;
    height: 22px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: block;
    width: 100%;
  }
  #menu-primara-lankar a:hover {
    color: #fff;
  }

  #chapter6-text address {
    padding-top: 0;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }

  .navbar-fixed-top .navbar-inner {
    padding: 0;
  }

  .navbar .brand {
    margin: 5px 0 0 1px;
  }

}
